[user]
	name = Insert Name
	email = address@example.com
[push]
	default = simple
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	ci = commit -v
	st = status
	br = branch -la
	co = checkout
	df = diff
	di = diff --stat -r
	ls = log --oneline --graph --decorate
	la = log --pretty=format:'%Cred%h%Creset %s %Cgreenby \"%cn\" %Cblue(%ar)%Creset' --graph --decorate
	last = log -l HEAD
	ds = diff --staged
	fixup = commit --fixup
[core]
	editor = subl -w
[merge]
	tool = p4merge
[mergetool]
	trustExitCode = false
[mergetool "p4merge"]
	cmd = p4merge $BASE $REMOTE $LOCAL $MERGED
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rebase]
	autoSquash = true
